{% extends "layout.html" %}

{% block content %}

<div class="container" id="wikistack">
    <h1>BROWSE MY WIKISTACK</h1>
    <hr>
    <ul>
        <li><a href="#">Fullstack Home</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">My Projects</a></li>
        <li><a href="#">My City</a></li>
        <li><a href="#">Code I've written</a></li>
    </ul>
    
    {% if docs.length > 0 %}
		  <ul>
		    {% for doc in docs %}
		      <li>{{doc|page_link}}</li>
		    {% endfor %}
		  </ul>
		{% else %}
		  There are no pages. Why don't you <a href='/add'>add one</a>?
		{% endif %}





    <ul>
    {% for doc in docs %}
        <li><a href="/{{doc.url_name}}">{{doc.title}}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}


