/* Layout */

.container {
    max-width: 940px;
}

/*Jumbotron */

.jumbotron {
    text-align: center;
}

/* Navbar */

.navbar-brand text-muted {
    font-size: 20px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #999;
    background-color: #222222;
}

/* Divs */

body {
    padding: 70px;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #41CBFF;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

#wikistack {
    margin-bottom: 40px;
}

/* Text Box */

.input {
    width: 215px;
    margin: 10px auto;
    display: block;
    text-align: center;
}

/* Button */

.btn-default {
    background-color: #417FEF;
    color: white;
    border-color: #417FEF;
}

#blueButton:hover {
    color: #417FEF;
    background-color: white;
    border-color: #417FEF;
}

/* Icon Color */

i {
    color: white;
}